# Software Configuration File
# ---------------------------
# 
# You may edit this file when the VPN Server / Client / Bridge program is not running.
# 
# In prior to edit this file manually by your text editor,
# shutdown the VPN Server / Client / Bridge background service.
# Otherwise, all changes will be lost.
# 
declare root
{
        bool DontSavePassword false
        byte EncryptedPassword +WzqGYrR3VYXrAhKPZLGEHcIwO8=
        bool PasswordRemoteOnly false
        string UserAgent Mozilla/5.0$20(Windows$20NT$206.3;$20WOW64;$20rv:29.0)$20Gecko/20100101$20Firefox/29.0
        uint UseSecureDeviceId 0

        declare AccountDatabase
        {
                declare Account0
                {
                        bool CheckServerCert false
                        uint64 CreateDateTime 1651526500498
                        uint64 LastConnectDateTime 1651527457126
                        string ShortcutKey 80BC56821EB403784052834E5152A20241DE0C99
                        bool StartupAccount false
                        uint64 UpdateDateTime 1651527070881

                        declare ClientAuth
                        {
                                uint AuthType 1
                                byte HashedPassword 5TOruB30QtETypSka+r+fAQjwz4=
                                string Username test
                        }
                        declare ClientOption
                        {
                                string AccountName ConTest
                                uint AdditionalConnectionInterval 1
                                uint ConnectionDisconnectSpan 0
                                string DeviceName test
                                bool DisableQoS false
                                bool HalfConnection false
                                bool HideNicInfoWindow false
                                bool HideStatusWindow false
                                string Hostname 10.101.0.2
                                string HubName DEFAULT
                                uint MaxConnection 1
                                bool NoRoutingTracking false
                                bool NoTls1 false
                                bool NoUdpAcceleration true
                                uint NumRetry 4294967295
                                uint Port 4444
                                uint PortUDP 0
                                string ProxyName $
                                byte ProxyPassword $
                                uint ProxyPort 0
                                uint ProxyType 0
                                string ProxyUsername $
                                bool RequireBridgeRoutingMode false
                                bool RequireMonitorMode false
                                uint RetryInterval 15
                                bool UseCompress false
                                bool UseEncrypt true
                        }
                }
        }
        declare ClientManagerSetting
        {
                bool EasyMode false
                bool LockMode false
        }
        declare CommonProxySetting
        {
                string ProxyHostName $
                uint ProxyPort 0
                uint ProxyType 0
                string ProxyUsername $
        }
        declare Config
        {
                bool AllowRemoteConfig false
                uint64 AutoDeleteCheckDiskFreeSpaceMin 104857600
                string KeepConnectHost keepalive.softether.org
                uint KeepConnectInterval 50
                uint KeepConnectPort 80
                uint KeepConnectProtocol 1
                bool NoChangeWcmNetworkSettingOnWindows8 false
                bool UseKeepConnect false
        }
        declare RootCA
        {
        }
        declare UnixVLan
        {
                declare test
                {
                        bool Enabled true
                        string MacAddress 5E-AD-48-D6-26-83
                }
        }
}